In [1]:
l1 = [1,2,3,4,5,6,7]
l2=[8,9,0]
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [2]:
print(3*l1)

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [4]:
print(len(l1))

7

In [8]:
print(max(l1))
print(min(l1))
print(sum(l1))

7
1
28

In [10]:
#average
average=sum(l1)/len(l1)
print(average)

4.0

In [11]:
# Accessing/Traversing the list

shoppingList = ['Milk', 'Cheese', 'Butter']

for i in range(len(shoppingList)):
    shoppingList[i] = shoppingList[i]+"+"
    # print(shoppingList[i])
empty = []
for i in empty:
    print("I am empty")

In [12]:
# Update/Insert - List 

myList = [1,2,3,4,5,6,7]
print(myList)
myList.insert(4,15)

myList.append(55)

newList = [11,12,13,14]
myList.extend(newList)
print(myList)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 15, 5, 6, 7, 55, 11, 12, 13, 14]

In [13]:
#  Searching for an element in the List
myList =  [10,20,30,40,50,60,70,80,90]

def searchinList(list, value):
    for i in list:
        if i == value:
            return list.index(value)
    return 'The value does not exist in the list'

print(searchinList(myList, 100))

The value does not exist in the list

In [15]:

#  List operations / functions
total = 0 
count = 0
while (True):
    inp = input('Enter a number: ') 
    if inp == 'done': break
    value = float(inp)
    total = total + value
    count = count + 1 
    average = total / count
					
print('Average:', average)

ValueError: could not convert string to float: 'dfdfa'

In [ ]:
numlist = list() 
while (True):
    inp = input('Enter a number: ') 
    if inp == 'done': break
    value = float(inp)
    numlist.append(value)
					
average = sum(numlist) / len(numlist) 
print('Average:', average)